<div class="container">

    <p class="custom-color font-weight-bold">Your Response Has been Submitted !!<br><span class="font-weight-bold">आपला प्रतिसाद सेव्ह केला आहे</span>
        </p>
   
    <br>
    <p class="font-weight-bold"><span class="custom-color">आजच डाऊनलोड करा</span><br><span>GramVyapar Seller App</span><br><span class="custom-color">
            आपण आपल्या रजिस्टर मोबाईल नंबर वापरून लॉग इन करू शकता
        </span></p>
  
    <br>
    <p><span class="font-weight-bold">धन्यवाद !!</span></p>
    <div mat-dialog-actions align="end">
        <button mat-raised-button color="primary" (click)="agree()">OK</button>
    </div>