<form [formGroup]="saveAgricultureForm" autocomplete="off">
  <div class="container-fluid mt-5">
    <h3 class="font-weight-bold">Your FPO Name</h3>
    <div class="row">
      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="FPO" type="text" formControlName="fpo" [(ngModel)]="agricultureForm.fpo">
        </mat-form-field>
      </div>
    </div>
    <h3 class="font-weight-bold">Personal</h3>
    <div class="row">

      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="First Name" type="text" formControlName="firstname"
            [(ngModel)]="agricultureForm.firstName">
        </mat-form-field>
      </div>
      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Last Name" type="text" formControlName="lastname"
            [(ngModel)]="agricultureForm.lastName">
        </mat-form-field>
      </div>
      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field class="example-full-width" style="width: 100%;">
          <mat-label>Date Of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dob" [(ngModel)]="agricultureForm.dob">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Pan No" type="text" formControlName="panno" [(ngModel)]="agricultureForm.panNo"
            [maxLength]="maxLengthPanCard">
        </mat-form-field>
      </div>
    </div>
    <div class="row">


      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Aadhar No" type="text" formControlName="aadharno"
            [maxLength]="maxLengthAadharCard" [(ngModel)]="agricultureForm.aadharNo">
        </mat-form-field>
      </div>
      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Mobile No" type="text" formControlName="mobileno" [maxLength]="maxLengthPhone"
            [(ngModel)]="agricultureForm.mobileNo" appNumber>
        </mat-form-field>
      </div>

      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Email ID" type="text" formControlName="emailid"
            [(ngModel)]="agricultureForm.emailId">
        </mat-form-field>
      </div>
      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Address" type="text" formControlName="address"
            [(ngModel)]="agricultureForm.address">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Pin Code" type="text" formControlName="pincode" (focusout)="getPinCode()"
            [maxLength]="maxLengthPinCode" [(ngModel)]="agricultureForm.pincode" appNumber>
        </mat-form-field>
      </div>

      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Gaon" type="text" formControlName="gaon" [(ngModel)]="agricultureForm.gaon">
        </mat-form-field>
      </div>

      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Taluka" type="text" formControlName="taluka"
            [(ngModel)]="agricultureForm.taluka">
        </mat-form-field>
      </div>
      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="District" type="text" formControlName="district"
            [(ngModel)]="agricultureForm.district">
        </mat-form-field>
      </div>

    </div>

    <div class="row">


      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="State" type="text" formControlName="state" [(ngModel)]="agricultureForm.state"
            readonly>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width:100%;">
          <mat-select placeholder="Facebook ID Present" formControlName="facebookselect"
            [(ngModel)]="agricultureForm.FaceBookDetails">
            <mat-option *ngFor="let item of facebookData;" [value]="item.title"
              (click)="selectedFacebookFromList(item)">
              {{item.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Facebook ID" type="text" formControlName="facebook"
            [(ngModel)]="agricultureForm.FaceBookID">
        </mat-form-field>
      </div>
    </div>

  </div>

  <div class="container-fluid">
    <h3 class="font-weight-bold">About Farm</h3>
    <div class="row">
      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Area in Guntha" type="text" formControlName="areainguntha"
            [(ngModel)]="agricultureForm.areaGuntha" (focusout)="gunthaToAcre()" appNumber>
        </mat-form-field>
      </div>

      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Area in Acre" type="text" formControlName="areainacre"
            [(ngModel)]="agricultureForm.areaInAcre" readonly>
        </mat-form-field>
      </div>

      <div class="col-md-3 col-3 col-sm-3">
        <!-- <mat-form-field style="width: 100%;">
          <input matInput placeholder="Well / Vihir" type="text" formControlName="well" [(ngModel)]="agricultureForm.well">
        </mat-form-field> -->

        <mat-form-field style="width:100%;">
          <mat-select placeholder="Well / Vihir" formControlName="well" [(ngModel)]="agricultureForm.well">
            <mat-option *ngFor="let item of well;" [value]="item.title" (click)="selectedWellFromList(item)">
              {{item.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-3 col-sm-3">

        <mat-form-field style="width:100%;">
          <mat-select placeholder="Water Level" formControlName="waterlevel"
            [(ngModel)]="agricultureForm.waterLevelPerYear">
            <mat-option *ngFor="let level of waterLevel;" [value]="level.title" (click)="selectedLevelFromList(level)">
              {{level.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <h3 class="font-weight-bold">Product/Crops</h3>
    <div class="row">
      <div class="col-md-3 col-3 col-sm-3">
        <!--  <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Crop Type" type="text" formControlName="croptype" [(ngModel)]="agricultureForm.cropType">
              </mat-form-field> -->

        <mat-form-field style="width: 100%;">
          <mat-select placeholder="Crop Type" formControlName="croptype" [(ngModel)]="agricultureForm.cropType">
            <mat-option *ngFor="let type of cropType;" [value]="type.title" (click)="selectedTypeFromList(type)">
              {{type.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Number Of Times in Year" formControlName="nooftimesinyear" type="text"
            [(ngModel)]="agricultureForm.noOfTimesInYear" appNumber>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Major Crops" type="text" formControlName="majorcrop"
            [(ngModel)]="agricultureForm.majorCrop" appNumber>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Minor / Small Crops" formControlName="minorcrop" type="text"
            [(ngModel)]="agricultureForm.minorCrop" appNumber>
        </mat-form-field>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Major Crops Area (In Guntha)" formControlName="majorcroparea" type="text"
            [(ngModel)]="agricultureForm.majorCropArea" appNumber>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Small Crops Area (In Guntha)" formControlName="smallcroparea" type="text"
            [(ngModel)]="agricultureForm.smallCropArea" appNumber>
        </mat-form-field>
      </div>

      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Major Crops Output (In Ton)" formControlName="majorcropoutput" type="text"
            [(ngModel)]="agricultureForm.majorCropOutput" appNumber>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Small Crops Output (In Ton)" formControlName="smallcropoutput" type="text"
            [(ngModel)]="agricultureForm.smallCropOutput" appNumber>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <h3 class="font-weight-bold">Infrastructure</h3>
    <div class="row">
      <div class="col-md-3 col-3 col-sm-3">
        <!-- <mat-form-field style="width: 100%;">
          <input matInput placeholder="Live Stock" formControlName="livestock" type="text"
            [(ngModel)]="agricultureForm.liveStock" appNumber>
        </mat-form-field> -->


        <mat-form-field style="width:100%;">
          <mat-select placeholder="Live Stock" formControlName="livestock" [(ngModel)]="agricultureForm.liveStock">
            <mat-option *ngFor="let item of liveStock;" [value]="item.title" (click)="selectedLiveStockFromList(item)">
              {{item.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Live Stock Details" formControlName="livestocksdetails" type="text"
            [(ngModel)]="agricultureForm.liveStockDetails" appNumber>
        </mat-form-field>
      </div>

      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Tractor" formControlName="tractor" type="text"
            [(ngModel)]="agricultureForm.tractor">
        </mat-form-field>
      </div>


      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Make" formControlName="make" type="text" [(ngModel)]="agricultureForm.make">
        </mat-form-field>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Model" formControlName="model" type="text" [(ngModel)]="agricultureForm.model">
        </mat-form-field>
      </div>

      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Year Of Purchase" formControlName="yearofpurchase" type="text"
            [(ngModel)]="agricultureForm.yearOfPurchase">
        </mat-form-field>
      </div>
      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Capacity" formControlName="capacity" type="text"
            [(ngModel)]="agricultureForm.capacity">
        </mat-form-field>
      </div>

      <div class="col-md-3 col-3 col-sm-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Trolly Count" formControlName="trollies" type="text"
            [(ngModel)]="agricultureForm.trollies" appNumber>
        </mat-form-field>
      </div>
    </div>

  </div>
  <div class="container-fluid">
    <h3 class="font-weight-bold">Manpower</h3>

    <div class="row">
      <div class="col-md-3 col-sm-4 col-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Permanent Labour (In Numbers)" type="number" formControlName="permanentlabour"
            type="text" [(ngModel)]="agricultureForm.permanentLabour" appNumber>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-sm-3 col-3">
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Temporary Labour (In Numbers)" formControlName="temporarylabour" type="text"
            [(ngModel)]="agricultureForm.temporaryLabour" appNumber>
        </mat-form-field>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-md-2 col-sm-3 col-3">
        <button mat-raised-button style="background-color: #FF8C00;" class="width-100" (click)="saveForm()"
          [disabled]="!saveAgricultureForm.valid">Save</button>

      </div>
      <div class="col-md-2 col-sm-3 col-3">
        <button mat-raised-button color="warn" class="width-100" (click)="clearValues()">Clear</button>
      </div>
    </div>

  </div>

</form>